 <tr height=19 style='height:14.25pt'>
  <td height=19 class=xl24 width=129 style='height:14.25pt;width:97pt'><#A#></td>
  <td class=xl24 width=96 style='border-left:none;width:72pt'><#B#></td>
  <td class=xl24 width=99 style='border-left:none;width:74pt'><#C#></td>
  <td class=xl24 width=72 style='border-left:none;width:54pt'><#D#></td>
  <td class=xl24 width=93 style='border-left:none;width:70pt'><#E#></td>
  <td class=xl24 width=93 style='border-left:none;width:70pt'><#F#></td>
  <td class=xl24 width=72 style='border-left:none;width:54pt'><#G#></td>
 </tr>
