<tr height=19 style='height:14.25pt'>
  <td  class=xl24 width=41 ><#A#></td>
  <td class=xl24 width=49 style='border-left:none;width:37pt'><#B#></td>
  <td class=xl24 width=53 style='border-left:none;width:40pt'><#C#></td>
  <td class=xl24 width=42 style='border-left:none;width:32pt'><#D#></td>
  <td class=xl24 width=58 style='border-left:none;width:44pt'><#E#></td>
  <td class=xl24 width=49 style='border-left:none;width:37pt'><#F#></td>
  <td class=xl24 width=46 style='border-left:none;width:35pt'><#G#></td>
  <td class=xl24 width=49 style='border-left:none;width:37pt'><#H#></td>
  <td class=xl24 width=45 style='border-left:none;width:34pt'><#I#></td>
  <td class=xl24 width=46 style='border-left:none;width:35pt'><#J#></td>
  <td class=xl24 width=51 style='border-left:none;width:38pt'><#K#></td>
  <td class=xl24 width=49 style='border-left:none;width:37pt'><#L#></td>
  <td class=xl24 width=45 style='border-left:none;width:34pt'><#M#></td>
  <td class=xl24 width=54 style='border-left:none;width:41pt'><#N#></td>
  <td class=xl24 width=51 style='border-left:none;width:38pt'><#O#></td>
  <td class=xl24 width=51 style='border-left:none;width:38pt'><#P#></td>
  <td class=xl24 width=51 style='border-left:none;width:38pt'><#Q#></td>
  <td class=xl24 width=47 style='border-left:none;width:35pt'><#R#></td>
  <td class=xl24 width=67 style='border-left:none;width:50pt'><#S#></td>
  <td class=xl24 width=64 style='border-left:none;width:48pt'><#T#></td>
  <td class=xl24 width=64 style='border-left:none;width:48pt'><#U#></td>
 </tr>
