/* Public style */
* {
    scrollbar-arrow-color:#98BAD2;
	scrollbar-face-color:#E3F1FB;
	scrollbar-darkshadow-color:#98BAD2;
	scrollbar-highlight-color:#E3F1FB;
	scrollbar-3dlight-color:#98BAD2;
	scrollbar-shadow-color:#E3F1FB;
	scrollbar-track-color:#E3F1FB; 
} 
form,iframe,ul,li,h1,h2,h3,dl,dt,dd,p,div,strong,span,a { padding:0; margin:0; list-style:none; }
body                      { font-size:12px; margin:0 auto; padding:0; color:#00557D; font-family:"微软雅黑","Arial"; }
img                       { border:0; }
a,img,input,button        { hide-focus:expression(this.hideFocus=true); /* for ie 5+ */outline:none; /* for firefox 1.5 + */ }
a                         { font-size:12px; text-decoration:none; }
a:link                    { color:#00557D; }
a:visited                 { color:#00557D; }
a:hover                   { color:#00ADFF; }
a:active                  { color:#00557D; }

/* Head style */
#navhaddle                { height:30px; width:56px; cursor:pointer; position:absolute; z-index:9; }
.navup                    { background:url(../images/navup.gif) no-repeat right;left:0px; top:67px; }
.navdown                  { background:url(../images/navdown.gif) no-repeat right; top:15px; left:8px; }
.headanimatebg            { background:#0178B2; }

#pub_head                 { background:url(../images/pub_head_bg.gif) repeat-x bottom; height:90px; width:100%; }
#pub_head a               { color:#000; }
#pub_head a:hover         { color:#004CA9; }

#pub_head .navbig         { background:url(../images/pub_head_logo.gif) no-repeat left bottom; text-align:right; height:37px; width:99.5%; padding-top:15px; }
#pub_head .navbig a       { width:102px; height:27px; line-height:27px; text-align:center; font-weight:bold; margin-top:4px;_padding-top:6px; }
#pub_head a.navbig_select { background:url(../images/navbig_select.png) no-repeat top center; color:#fff; }

#pub_head .navsub         { background:url(../images/navsub_bgl.gif) no-repeat left; padding-left:95px; height:38px; line-height:38px; }
#pub_head .navsub a       { margin-right:-12px; width:86px; height:30px; line-height:30px; text-align:center;_margin-top:4px }
#pub_head a.navsub_select { background:url(../images/navsub_select.png) no-repeat top center;_background:url(../images/navsub_select.gif) no-repeat top center; font-weight:bold; }

#pub_head .userbg         { position:absolute; z-index:0; top:52px; right:0; background:url(../images/navsub_bgr2.gif) repeat-x bottom right; height:38px; width:10%; }
#pub_head .usergroups     { position:absolute; z-index:1; top:52px; right:4%; background:url(../images/navsub_bgr.gif) no-repeat right;
							padding-right:36px; height:38px; line-height:38px; font-size:12px; text-align:left;
							}
#pub_head .usergroups img { vertical-align:-13px; }
#pub_head .usergroups select { width:92px;font-family:"微软雅黑","Arial"; }

/* Tools style */
#pub_tools                { background:url(../images/pub_tools_bg.gif) repeat-x top; height:32px; width:100%;font-family:"宋体","Arial"; }
#pub_tools .tocomm        { background:url(../images/tocomm_bg.gif) no-repeat top left; width:460px;height:32px; position:relative; left:0; top:0;
							-moz-user-select:none;
                          }
.arrow_l, .arrow_r, #tools_m, .to_show,.resizetool,.masker { position:absolute; z-index:1; top:0;height:32px; }
.arrow_l                  { left:8px; background:url(../images/to_arrow_l.gif) no-repeat center; width:32px; cursor:pointer }
.arrow_l_hover            { background-image:url(../images/to_arrow_l_hover.gif); }
.arrow_l_click            { background-image:url(../images/to_arrow_l_click.gif); }
.arrow_r                  { right:55px; background:url(../images/to_arrow_r.gif) no-repeat right; height:32px; width:20px; cursor:pointer }
.arrow_r_hover            { background-image:url(../images/to_arrow_r_hover.gif); }
.arrow_r_click            { background-image:url(../images/to_arrow_r_click.gif); }
#tools_m                  { white-space:nowrap; left:50px; width:70%; line-height:32px; overflow:hidden; }
#tools_m a                { background:url(../images/to_abg.gif) no-repeat right;height:32px; line-height:32px; padding-right:5px; vertical-align:16px; *cursor:pointer; }
#tools_m a img            { vertical-align:-6px;margin-right:3px; }
.to_line 			      { background:url(../images/to_line.png) no-repeat; height:27px;*+height:30px;_height:30px; width:2px; }
.to_show                  { cursor:pointer; line-height:32px; right:20px; }
.resizetool               { right:0; background: url(../images/resizetool.png) no-repeat right; height:32px; width:8px; }
.masker                   { z-index:2; width:99.8%; height:30px;background:url(../images/masker.png);_background:#fff;
_filter: Alpha(opacity=25); }
.to-b                     { font-weight:normal; padding:4px 0;*+padding:0;_padding:0; }
.to_a_hover b			  { background:url(../images/to_imgbg.gif) no-repeat center left; height:30px; }
.to_a_hover span          { color:#00F6FF; }
            
#pub_tools .tosys a       { _margin-top:9px; }
#pub_tools .tosys         { position:absolute; z-index:0; top:0; right:0; background:url(../images/tosys_bg.gif) no-repeat top right;
							height:32px; width:207px; text-align:right; line-height:32px; padding-right:8px;
							}

/* Left style */
.leftbody_bg              { background:#2898FE url(../images/leftbody_bg.gif) repeat-x top; height:100%; padding-left:9px; }
.ltop                     { background:url(../images/ltop.png) no-repeat left; width:211px; height:37px; }
#selectCss                { position:absolute; left:20px; top:4px;*+top:0;_top:4px; z-index:100; width:190px; }
#pub_left                 { background:#B8DBF1 url(../images/pub_leftbg.gif) repeat-x top; width:209px;padding-top:8px; margin-left:1px; }
.pub_lscroll              { width:223px;_width:224px; text-align:left; position:absolute; z-index:1; }
.forscrollbg              { background:#B8DBF1 url(../images/pub_leftbg.gif) repeat-x top; position:absolute; z-index:0; top:30px; left:10px; width:209px; }
.lbottom                  { background:url(../images/lbottom.png) no-repeat bottom left; width:209px; height:6px; margin-left:1px; }

#pub_left .lm             { text-align:center; }
#pub_left .lm div         { margin:auto; width:209px; text-align:left;line-height:32px;_padding-top:10px; cursor:pointer }
#pub_left .lm div img     { vertical-align:-4px; margin:0 8px 0 16px; }
#pub_left .lm_m01         { background:url(../images/lm_m01.png) no-repeat top;_background:url(../images/lm_m01.gif) no-repeat top; height:32px;_height:22px; }
#pub_left .lm_m02         { background:url(../images/lm_m02.png) no-repeat top;_background:url(../images/lm_m02.gif) no-repeat top; height:41px; }
#pub_left ul.lm_sub       { width:207px;_width:206px; background:#E4F3FC url(../images/lm_sub_bg.gif) repeat-x bottom;
							border-left:1px solid #fff;border-right:1px solid #fff; border-bottom:1px solid #00C5F3; padding:10px 0;_margin-top:-10px 
							}
#pub_left ul.lm_sub li    { line-height:32px; text-align:left; cursor:pointer }
ul.lm_sub li a            { margin-left:36px; color:#4A6981; width:82%; }
#pub_left li.sh a         { color:#003B7D;}
#pub_left ul.lm_sub li.sh { background:url(../images/lm_sub_link.png) no-repeat; }
#pub_left ul.lm_sub li.sh2{ background:url(../images/lm_sub_hover.png) no-repeat center; }

/* Expand */
.pub_expand               { background:url(../images/expandbg.gif) repeat-y; width:7px; }
.pub_expand div           { width:7px; margin-top:100px; height:300px; background-position:center right; background-repeat:no-repeat; cursor:pointer; }
.pub_expand .expand01     { background-image:url(../images/expand01.gif); }
.pub_expand .expand02     { background-image:url(../images/expand02.gif); }


/* Login Page */
.loginbg                  { background:#D8D8D8 url(../images/login_bodybg.gif) repeat-x top;_height:100%;_position:relative; }

#login,.log_bot           { width:100%; margin:auto; color:#666; text-align:center; }

.log_top                  { position:absolute; z-index:1; left:0; top:0; width:100%; height:31px; background:url(../images/login_top.gif) no-repeat center;  }

.log_left                 { position:absolute; z-index:0; left:0; top:20px; background:url(../images/login_left.gif) no-repeat right top; height:312px; width:36%; }

.log_logo                 { position:absolute; z-index:2; right:1%; top:31px; height:61px; width:97%; background:url(../images/login_logo.png) no-repeat right;  }

.log_person01             { position:absolute; z-index:0; right:69%; top:400px; height:143px; width:210px; background:url(../images/login_person01.png) no-repeat right; }
.log_person02             { position:absolute; z-index:0; left:70%; top:155px; height:200px; width:234px; background:url(../images/login_person02.png) no-repeat right; }
.log_person03             { position:absolute; z-index:0; left:75%; top:384px; height:193px; width:153px; background:url(../images/login_person03.png) no-repeat right; }

.logmidwrap               { position:absolute; z-index:3; top:110px; left:50%; width:510px; margin-left: -255px; height:486px; }
#log_mid                  { width:510px; height:486px; background:url(../images/login_mid.png) no-repeat; }

#log_mid div ,#log_mid span { position:absolute; z-index:4; left:190px;top:163px; }

#log_mid span             { display:inlne-block;zoom:1;*display:inline; }

#log_mid div input        { border:0; background:transparent; width:190px; height:26px; line-height:26px; display:block; color:#666; font-family:Arial, Helvetica, sans-serif; margin-bottom:30px;}    
							
#log_mid span             { top:270px; left:275px; cursor:pointer; width:60px; height:56px;  }

#log_mid .log_tips        { top:286px; left:115px; background:url(../images/login_tips.png) no-repeat left top; width:110px; height:30px; line-height:21px; padding-left:34px; text-align:left;font-size:12px; font-family:"宋体"; }

#log_mid .log_tips font   { color:#727272;font-size:12px; }
#log_mid .log_tips b      { font-weight:normal; }

.log_bot                  { position:absolute; z-index:10; bottom:0; _bottom:-1px; left:0; height:30px; line-height:30px; font-size:12px; }
/* loginout */
#log_mid .logout          { background:url(../images/log_mid2.png) no-repeat; width:612px; height:211px; padding:36px 0 0 120px } 
#log_mid .logout p        { line-height:40px; font-size:21px; font-weight:bold; text-align:left; }
#log_mid a.logoutbut,.tips_cont .logoutbut{ margin:0 10px; vertical-align:1px;*+vertical-align:6px;_vertical-align:1px;
							background:url(../images/loginoutbutton.gif) no-repeat top; height:24px; line-height:24px; width:80px;
							font-size:12px; font-weight:normal;  color:#666; text-align:center; 
							} 
#log_mid a.logoutbut:hover,.tips_cont .logoutbut:hover{ background-position:bottom;_background-position:0 -34px; } 
a.logoutbut img           { margin:-8px 6px 0 0; vertical-align:-11px; } 

/****** system tips ******/
.tips_bodycolor      { background:#F6F7F7; text-align:center; }
.tips_body           { background:url(../images/tips_body.png) no-repeat; width:434px; height:178px; overflow:hidden; margin:17% auto 0 auto; font-weight:bold; font:"宋体" }
.tips_t              { color:#537B9A; margin-left:30px; height:35px; line-height:35px; text-align:left; }
.tips_cont           { width:390px; height:132px; float:right; clear:both; }
/* tips: timeout */
.timout              { background:url(../images/timouticon.png) no-repeat left center; }
.tips_cont p         { color:#003F54; line-height:32px; margin-top:20px; margin-left:60px; }
 
/* Class:Style of the public */
#pub_head .navbig a, #pub_head .navsub a, #tools_m a, #pub_tools .tosys a, #tools_m span, ul.lm_sub li a, #login span,a.logoutbut { display:inline-block; zoom:1; *display:inline;}
#pub_head .navbig a img, #pub_tools .tosys img { vertical-align:-3px; margin-right:5px; }
#pub_tools .tosys a, #tools_m a, .to_show,#log_mid span  { color:#fff; font-size:12px; } 
#pub_tools .tosys a:hover, #tools_m a:hover { color:#AFEFFF; }

/***** main page content: *****/
.mp_bodybg           { background:#F6F7F7 }
/* 列表 */
.portal_list table,.portal_list2 table{ width:100%; }
.portal_list  td,.portal_list2 td,.portal_list3 td  { line-height:30px; height:30px }
.portal_list  td a   { float:left; background:url(../images/portal_list_icon.gif) no-repeat 6px center; padding-left:18px; }
.portal_list2 td a   { float:left; background:url(../images/portal_list_icon2.gif) no-repeat 5px center; padding-left:24px; }
tr.mp_tb_list        { background:#FAFAFA; }
.portal_list td span { float:right; color:#6091B0; }
.portal_list3 table  { width:98%; margin:5px auto; background:#BAD4E4; }
.portal_list3 tr     { background:#FAFAFA; }
tr.mp_tb_title       { background:#E4F0F8; font-weight:bold; }


/* 日历 */
.home_caner     { width:99.5%; margin:auto; }
.home_caner td  { text-align:center;background:#EFF8FD; border:1px solid #fff;  line-height:26px; cursor:pointer;event:expression(onmouseover=function(){this.style.backgroundColor ='#FFFDE5';},onmouseout =function(){this.style.backgroundColor ='';});}
.home_caner td:hover { background:#FFFDE5; }
.home_caner th  { background:url(../images/home_canerbg.gif) repeat-x; height:29px; line-height:29px; color:#007D93;}
.home_caner a   {font-family:Arial, Helvetica, sans-serif; }
td.thisday      { background:#FFE6BB; color:#FF4200; font-weight:bold; }
.welcome_all {  width:100%; text-align:center; margin:auto; }
.welcome_bg{
    background:url(../images/welcome_blue.png) no-repeat center; 
    width:672px; height:417px; margin:5% auto 0; 
	}
.welcome_bg p{ font-size:30px; font-weight:bold; color:#0686C9; letter-spacing:14px; padding:67px 0 0 70px; }
.td_noboder {
	BORDER-RIGHT: #000000 0px solid;
	BORDER-TOP: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid;
	BORDER-BOTTOM: #000000 0px solid;
	CURSOR: default;	
}

/* New Login Page */
.loginbody{background:url(../images/loginBg.gif) repeat-x center top;}
.loginbody .logintop{background:url(../images/loginLogo.gif) no-repeat 0 0; height:52px;}
.loginbody .loginmid{background:url(../images/loginMid.jpg) no-repeat 0 0; margin:7px auto 0; width:1233px; height:659px; position:relative;}
.loginbody .loginmid div input.text{width:139px;height:25px;line-height:25px;position:absolute; left:584px; top:327px; padding:0 5px; background:none; border:none;}
.loginbody .loginmid div input.password{width:139px;height:25px;line-height:25px;position:absolute; left:584px; top:361px; padding:0 5px; background:none; border:none;}
.loginbody .loginmid div input.button{width:67px;height:29px;position:absolute; left:584px; top:411px;background:none; cursor:pointer; border:none;}
.loginbody .loginmid div input.reset{width:67px;height:29px;position:absolute; left:668px; top:411px;background:none; cursor:pointer; border:none;}
.loginbody .loginmid div input[type=text]{width:139px;height:25px;line-height:25px;position:absolute; left:584px; top:327px; padding:0 5px; background:none; border:none;}
.loginbody .loginmid div input[type=password]{width:139px;height:25px;line-height:25px;position:absolute; left:584px; top:361px; padding:0 5px; background:none; border:none;}
.loginbody .loginmid div input[type=button]{width:67px;height:29px;position:absolute; left:584px; top:411px;background:none; cursor:pointer; border:none;}
.loginbody .loginmid div input[type=reset]{width:67px;height:29px;position:absolute; left:668px; top:411px;background:none; cursor:pointer; border:none;}
.loginbody .loginfoot{background:url(../images/loginFoot.gif) repeat-x 0 0; width:100%; height:40px; line-height:40px; position:absolute; left:0; bottom:0; color:#878787; text-align:center; font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px;}
